<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
      <body><img src="http://i1262.photobucket.com/albums/ii601/shaygyawali/more%20cropp-01_zpsaimontty.jpg" class="background">

        <a href="understand"><img src="http://i1262.photobucket.com/albums/ii601/shaygyawali/understand-01%202_zpsoc1v2yq9.jpg" class="row"></a>
        
      <div class="rowwa">
        <a href="explore"><img src="http://i1262.photobucket.com/albums/ii601/shaygyawali/explore-01_zpsohtm6r3r.jpg">
        </a>
      </div>
        <a href="https://secure.everyaction.com/ynTHgQUB402qwetMAwHjwA2"><img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/36322995_1023508661159341_4708164362718674944_o.jpg?_nc_cat=0&oh=a257eef26361a6a88d97ff7895876b87&oe=5BAA40CE" class="donate"></a>
        
          <a href="http://www.autism-society.org"><img src= "http://i1262.photobucket.com/albums/ii601/shaygyawali/GetInvolved-01_zpskbn8hazj.jpg" class="donate" id="involv"></a>
        
        <a href="https://act.autismspeaks.org/site/SPageServer?pagename=walk_homepage"><img src="http://i1262.photobucket.com/albums/ii601/shaygyawali/WALK-01_zpszhzqtnqk.jpg" class="donate" id="walk"></a>
    </body>
  </head>
</html>