<!DOCTYPE html>

<html>

<head>
  <title> Ume Habiba </title>
  <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">
</head>

<body>
  <div class="navigation">
    <ul>
      <li><a href="https://secure.everyaction.com/ynTHgQUB402qwetMAwHjwA2" class="btn"> Donate</a></li>
      <li><a href="http://www.autism-society.org/get-involved/" class="btn1"> Get involved</a></li>
      <li><a href="http://takeaction.autism-society.org/?0" class="btn2"> walk</a></li>
    </ul>
  </div>
  <img src = "https://upload.wikimedia.org/wikipedia/commons/4/4f/Autism_Awareness_Ribbon.png" id = "logo">
  <img src = "https://upload.wikimedia.org/wikipedia/commons/4/4f/Autism_Awareness_Ribbon.png" id = "logo">
  <img src = "https://upload.wikimedia.org/wikipedia/commons/4/4f/Autism_Awareness_Ribbon.png" id = "logo1">
  <img src = "https://upload.wikimedia.org/wikipedia/commons/4/4f/Autism_Awareness_Ribbon.png" id = "logo1">
  <img src="http://i1262.photobucket.com/albums/ii601/shaygyawali/understand-01%202_zpsoc1v2yq9.jpg" border="0" alt=" photo understand-01 2_zpsoc1v2yq9.jpg" class = "undpic">
  <div class="content-box">
    <div class="content-body"><img src="http://i1126.photobucket.com/albums/l604/umxe/whatisautism-01_zpsahnpl0uo.png" border="0" alt="what is autism photo whatisautism-01_zpsahnpl0uo.png" id ="wiapic"/>
      <br>
      <p id = "text">Autism is a disability that impairs the communication and interactive abilities</p>
      <img src="https://s3.amazonaws.com/spectrumnews-web-assets/uploads/2015/11/20151201WhatIsAutism-844-2.jpg" id="pics" />
      <p id="texts">A few myths about autism are:</p>
      <p id = "texting">~People with autism do not want to talk to you</p>
      <p id = "newtext2">-They are just a little shy, but they want to talk to you</p>
      <p id = "newtext">~People with autism are intellectually disabled </p>
      <p id = "newtext3">-They actually have normal to high IQ's</p>
      <p id = "newtext1">~Autism is just a brain disability/disorder </p>
      <p id = "newtext4">-People with autism have gastro-intestinal disorders, food</p>
      <p id = "newtext5">sensitivities, and many allergies</p>
      <p id = "goal">Our Goal: Raise Awareness and provide resources for those who have Autism.</p>
      <img src="https://i.ytimg.com/vi/gf5g_rvbfC4/maxresdefault.jpg" id="pics" />
      <a href = "https://www.autismspeaks.org/what-autism/symptoms"><img src = "https://media.giphy.com/media/12B1VuYl9Fi7QI/giphy.gif" id = "gif"></a>
      <a href = "https://www.autismspeaks.org/what-autism/asperger-syndrome"><img src = "https://nsaflorida.org/wp-content/uploads/2018/02/autism-header.jpg"id = "aa"></a>
       <br />
    </div>
  </div>
  <div id="helloitsume">
  </div>
</body>




</html>